<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- 文件输出格式 -->
	<property name="PATTERN"
		value="%-12(%d{yyyy-MM-dd HH:mm:ss.SSS}) |-%-5level [%thread] %c [%L] -| %msg%n" />
	<!-- pro文件路径 -->
	<property name="PRO_FILE_PATH" value="C:/syn_LP_REAL_BFXS_HZ_LOG/log" />

	
	<appender name="TOFILE" class="ch.qos.logback.core.FileAppender"> 
　　　　　　　　<file>${PRO_FILE_PATH}</file> 
　　　　　　　　<append>true</append> 
　　　　　　　　<encoder> 
　　　　　　　　　　<pattern>${PATTERN}</pattern> 
　　　　　　　　</encoder> 
　　　</appender> 

	<appender name="TOCONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${PATTERN}</pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="TOCONSOLE" />
		<appender-ref ref="TOFILE" />
	</root>
	
</configuration>